@import './animations.css';

:root {
  --vh: 1vh;
  --primary-light: #ffffff85;
  --primary-medium: #7395ae;
  --primary-dark: #547a95;
  --secondary-light: #938d94;
  --secondary-dark: #5d5b61;
  --tertiary-color: #b0a295;
}

body {
  margin: auto;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: var(--primary-dark);
}

body,
main {
  overflow: hidden;
}

article {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

#notification {
  display: none;
}

.show {
  display: content;
}

.main-splash {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-splash img {
  max-width: 300px;
  width: 80%;
  margin-top: 15vw;
  border-radius: 5px;
}

.splash-top {
  flex-grow: 1;
}

.splash-btm {
  flex-grow: 2;
}

.title {
  margin: 2vw auto;
}

.end-game {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -200px;
}

.start-game {
  background-color: #fff;
  font-size: 2rem;
  padding: 2vw 10vw;
  border-radius: 5px;
  margin: 1.5vh auto;
}

.restart,
.end-return {
  background-color: #fff;
  font-size: 2rem;
  padding: 2vw 10vw;
  border-radius: 5px;
  margin: 1.5vh auto;
  text-align: center;
}

.rolled {
  box-shadow: 2px 2px 5px -1px rgb(0, 0, 0);
}

.header {
  height: 7.5vh;
  font-size: 2rem;
  background-color: var(--secondary-dark);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  box-shadow: 0px -5px 10px 5px rgba(0, 0, 0, 0.75);
  color: #fff;
}
.return {
  flex: 1;
}

.total-score {
  flex: 2;
}

.mid-section {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 100%;
}

.bonus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.8rem;
  position: relative;
  left: -5px;
  background-color: var(--secondary-dark);
  border-radius: 3px;
}

.bonus-title {
  color: #fff;
  width: 12.5vw;
  position: relative;
  margin: 0 5px;
}

.bonus-points {
  font-size: 1rem;
  font-weight: 900;
  margin-left: 15px;
  color: yellow;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.p-bonus-num,
.c-bonus-num {
  margin: 5px;
  height: 12vw;
  width: 12vw;
  background-color: var(--secondary-light);
  display: flex;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.chance {
  display: flex;
  align-items: center;
  position: relative;
  left: -8px;
}

.chance-title {
  display: flex;
  margin: 0 auto;
  align-items: center;
  font-size: 2rem;
}

.btm-section {
  display: flex;
  flex-direction: column;
}

.dice-area {
  display: flex;
  margin: 0.5vh auto;
  flex-direction: row;
  justify-content: space-around;
}

.held {
  box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);
}

.box.hold {
  box-shadow: inset 0px 0px 10px 1px rgb(255, 255, 255);
}

.bottom-section #ch {
  display: flex;
  justify-content: space-around;
}

.roll-play {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.roll-play div {
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 15px;
  margin: 0 10px;
}

.roll-play .roll {
  padding: 2vw;
  display: flex;
  justify-content: space-around;
}

.roll-title {
  font-size: 1.4rem;
}

.rolls {
  background-color: #aebfcc;
  border-radius: 3px;
  width: 3.5vw;
  height: 3.5vw;
  margin: 7px 7px;
}

.roll-count {
  color: #fff;
  border-radius: 3px;
  width: 4vw;
  height: 3.5vw;
  width: 3.5vw;
  display: flex;
  align-items: center;
}

.avail-btn {
  box-shadow: 0px 0px 4px 2px rgb(44, 44, 44);
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  width: 30vw;
}

.box,
.dbox {
  background-color: var(--primary-light);
  border-radius: 3px;
  margin: 5px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
}

.box {
  height: 12vw;
  width: 12vw;
}

.dbox {
  height: 15vw;
  width: 15vw;
}

.player,
.comp {
  box-shadow: 2px 2px 5px -1px rgb(0, 0, 0);
}

.comp {
  visibility: hidden;
}

.scored {
  box-shadow: 0px 0px 4px 2px var(--primary-dark);
}

.done {
  color: lightgrey;
}

.dice-row {
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.die {
  height: 12vw;
  width: 12vw;
  padding: 2px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 2px solid black;
}

.pip {
  background-color: black;
  margin: 3px;
  padding: 0;
  width: 7px;
  height: 7px;
  border-radius: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.one {
  justify-content: center;
  align-items: center;
}

.two .pip:nth-of-type(2) {
  align-self: flex-end;
}

.three .pip.pip:nth-of-type(2) {
  align-self: center;
}

.three .pip:nth-of-type(3) {
  align-self: flex-end;
}

.five .pip:nth-of-type(1) {
  align-self: center;
}

.x {
  font-weight: 100;
  font-size: smaller;
  position: relative;
  top: 1px;
}

.x3,
.x4 {
  font-weight: 900;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fh {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fh .peak {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid black;
  width: 0;
  height: 0;
}

.fh .chimney {
  height: 15px;
  width: 4px;
  background-color: black;
  position: relative;
  top: 10px;
  left: -8px;
}

.fh .base {
  background-color: black;
  width: 20px;
  height: 15px;
}

.fh .door {
  background-color: #fff;
  width: 6px;
  height: 15px;
  position: relative;
  bottom: 8px;
  left: 2px;
}

.ss .card {
  width: 13px;
  height: 18px;
  position: relative;
  border-radius: 2px;
  border: 1px solid black;
  background-color: #fff;
}

.ss .card1 {
  top: 12px;
  left: 8px;
  transform: rotate(-125deg);
}

.ss .card2 {
  top: 4px;
  left: 10px;
  transform: rotate(-110deg);
}

.ss .card3 {
  top: -3px;
  left: 13px;
  transform: rotate(-95deg);
}

.ss .card4 {
  top: -9px;
  left: 16px;
  transform: rotate(-75deg);
}

.ss {
  display: flex;
  flex-direction: column;
}

.straight {
  position: relative;
  background-color: #fff;
  bottom: 7px;
  left: 2px;
  font-size: 0.65rem;
}

.ls {
  display: flex;
  flex-direction: column;
}

.ls .card {
  width: 8px;
  height: 18px;
  position: relative;
  border-radius: 1.5px;
  border: 1px solid black;
  background-color: #fff;
}

.ls .card1 {
  top: 14px;
  left: 7px;
  transform: rotate(-125deg);
}

.ls .card2 {
  top: 7px;
  left: 10px;
  transform: rotate(-110deg);
}

.ls .card3 {
  top: 1px;
  left: 13px;
  transform: rotate(-95deg);
}

.ls .card4 {
  top: -5px;
  left: 16px;
  transform: rotate(-75deg);
}

.ls .card5 {
  top: -9px;
  left: 19px;
  transform: rotate(-60deg);
}

.yahtzee {
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
}

@media screen and (max-height: 600px) {
  .dice-area {
    margin: 0;
  }
}

@media screen and (min-height: 800px) {
  .dice-area {
    margin: 2.5vh 0;
  }
}

@media screen and (min-height: 1000px) {
  .dice-area {
    margin: 1.5vh 0;
  }
}

@media screen and (min-width: 450px) {
  .box,
  .die,
  .p-bonus-num,
  .c-bonus-num {
    height: 9vw;
    width: 9vw;
    border-radius: 5px;
    margin: auto 1vw;
    font-size: 2rem;
  }

  .pip {
    height: 1.5vw;
    width: 1.5vw;
    margin: 5px;
  }

  .yahtzee {
    font-size: 0.8rem;
  }

  .chance-title {
    font-size: 6vw;
  }

  .bonus-title {
    font-size: 1.5rem;
    width: 11vw;
  }

  .bonus-points {
    font-size: 1.75rem;
    margin-left: 20px;
  }

  .scored,
  .box {
    font-size: 1.95rem;
  }

  .p-bonus-num,
  .c-bonus-num {
    font-size: 1.5rem;
  }

  .dbox {
    font-size: 2rem;
    border-radius: 5px;
    margin: 0 15px;
    height: 13vw;
    width: 13vw;
  }

  .rolls,
  .roll-count {
    width: 1.5vw;
    height: 1.5vw;
  }

  .roll-count {
    font-size: 1.5rem;
  }

  .roll-title,
  .score {
    font-size: 2.5rem;
  }

  .roll-title {
    margin-top: -10px;
  }
}

@media screen and (min-width: 800px) {
  .box,
  .die,
  .p-bonus-num,
  .c-bonus-num {
    height: 55px;
    width: 55px;
    border-radius: 5px;
    margin: auto 1vw;
    font-size: 1.25rem;
  }

  .bonus-title,
  .bonus-points {
    font-size: 1.25rem;
    width: 75px;
  }

  .dbox {
    height: 80px;
    width: 80px;
  }

  .roll-play .roll {
    padding: 0.5vw;
  }

  .roll-title {
    margin-top: -5px;
  }

  .pip {
    height: 1vw;
    width: 1vw;
    margin: 5px;
  }
}
